<form class="new-question" action="/surveys/<%= @survey.id %>/questions" method="post">
  <h5>Create as many survey questions as you like below:</h5>
  <label for="question">Question:</label>
  <input type="text" name="question[prompt]"/></br>
  <%= erb :"choices/new" %>
  <input type="submit" value="Add Question">
</form>