* {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}
#nav-bar {
    background-color: #403E35;
    color: white;
    padding: 10px 0px 10px 0px;
}

.center {
    width: 65%;
    margin: 0 auto;
}

#icon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 15px;
    border: 2px solid white;
}

#nav-bar .header-title {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 2em;
    text-decoration: none;
    top: -10px;
}

#nav-bar ul {
    font-size: 1.25em;
    display: inline;
    float: right;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
}

#nav-bar li {
    color: #403E35;
    display: inline;
    background-color: yellow;
    border-radius: .25em;
    border: 1px solid #C9C90F;
    padding: 2px 5px;
    box-shadow: inset 0px 3px 0px #FDFD9B;
}

#nav-bar li a {
    color: #403E35;
    text-decoration: none;
}

#content {
    width: 65%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    font-size: 1.5em;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #CFCFCF;
    color:  #403E35;
    padding: 10px 0px 10px 0px;
}

footer a {
    text-decoration: none;
    color: #403E35;
    font-weight: 700;
}

#copyright {
    text-align: center;
}
