* {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin: 0;
}

html, body {
  height: 100%;
}

#nav-bar {
  background-color: #403E35;
  color: white;
  padding: 10px 0px 10px 0px;
}

.center {
  width: 65%;
  margin: 0 auto;
}

#icon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 15px;
    border: 2px solid white;
}
#nav-bar a {
  text-decoration: none;
}

#nav-bar .header-title {
  position: relative;
  display: inline;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 2em;
  top: -10px;
}

#nav-bar ul {
  font-size: 1.25em;
  display: inline;
  float: right;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
}

#nav-bar li {
  color: #403E35;
  display: inline;
  background-color: yellow;
  border-radius: .25em;
  border: 1px solid #C9C90F;
  padding: 2px 5px;
  box-shadow: inset 0px 3px 0px #FDFD9B;
}

#nav-bar li a {
  color: #403E35;
  text-decoration: none;
}


/*---  Main Content ---*/
#content {
  position: relative;
  width: 65%;
  margin: 0 auto;
}

#content h3 {
  font-size: 2em;
  font-weight: 700;
}

#content h5 {
  font-size: 1.5em;
  font-weight: 700;
}

#content li {

}

#content li a {
  color: #403E35;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -90px;
  background-color: #FAFAFA;
}

#content ul {
  list-style-type: none;
  /*font-size: 1.5em;*/
  padding: 0;
}

#flash-area {
  height:2em;
  position: relative;
  width: 30%;
  margin: 0 auto;
  /*padding: 5px 10px 10px 5px;*/
}

.flash-success {
  background-color: #2ECC71;
  margin-top: 15px;
  padding: 2px 7px 2px 7px;
  display:none;
  border-radius:.25em;
}

.flash-error {
  background-color: #F22613;
  margin-top: 15px;
  padding: 2px 7px 2px 7px;
  display: none;
  border-radius:.25em;
}

.flash-text {
  color: #fff
}
/*---  Footer Stuff ---*/
footer, .push{
  height: 90px;
}

footer {
  height: 90px;
  background-color: #CFCFCF;
  color:  #403E35;
}

footer a {
  text-decoration: none;
  color: #403E35;
  font-weight: 700;
}

#copyright {
  text-align: center;
}
