  <label for="choice1">Choice 1:</label>
  <input type="text" name="choice1[content]"/></br>
  <label for="choice2">Choice 2:</label>
  <input type="text" name="choice2[content]"/></br>
  <label for="choice3">Choice 3:</label>
  <input type="text" name="choice3[content]"/></br>


