<form action="/surveys/<%= @survey.id %>/questions/<%= @question.id %>/choices" method="post">
  <label for="choice1">Choice 1:</label>
  <input type="text" name="choice[content]"/>
  <label for="choice2">Choice 2:</label>
  <input type="text" name="choice[content]"/>
  <label for="choice3">Choice 3:</label>
  <input type="text" name="choice[content]"/>
</form>
