<h3>Survey Stats for: <%= @survey.title %></h3>
<% @survey.questions.each do |question| %>
    <div class="line"></div>
  <h6><%= question.prompt %></h6>
  <% question.choices.each do |choice| %>
    <p><%= choice.content %> | <%= choice.responses.count %> votes</p>
  <% end %>
<% end %>
