<div>
  <h3>Take a Survey:</h3>
  <ul>
  <% @surveys.each do |survey| %>
    <li>
      <a href="/surveys/<%= survey.id %>">
        <h5><%= survey.title %></h5>
        <p><%= survey.about %></p>
      </a>
    </li>
  <% end %>

  <% if logged_in? %>
    <li><a href='/surveys/new'>Create survey</a><li>
  <% else %>
    <li><a href='/register'>Create survey</a><li>
  <% end %>
</ul>
</div>

