<section>
  <div>
    <ul>
  <% if current_user %>
    <a href="/logout">Logout</a>
    <% @surveys.each do |survey| %>
      <li><%= survey.title %></li>
    <% end %>
  <% else %>
    <a href="/register">Register</a> | <a href="/login">Log in</a>
  <% end %>
    </ul>
  </div>
</section>
