<section>
  <h3>Survey: <%= @survey.title %></h3><br>
  <p><%= @survey.about %></p><br>
  <p>Click start when you're ready to begin...</p>
  <a href="/surveys/<%=@survey.id%>/questions"><button class="submit-btn">Start</button></a>
</section>
