<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>King Kong Survey</title>
</head>
<body>
  <div class="wrapper">
    <div id="nav-bar">
      <div class="center">
        <img id="icon" src="/imgs/gorilla_icon.gif"/>
        <a class="header-title" href="/">King Kong Survey</a>
        <ul>
          <% if logged_in? %>
            <li><a href="/users/<%= current_user.id %>">Your Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          <% else %>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="content">

      <div id="main-content">
        <div id="flash-area">
          <% if flash[:success] %>
            <div class="flash-success">
              <h4 class="flash-text"><%= flash[:success] %></h4>
            </div>
          <% elsif flash[:error] %>
            <div class="flash-error">
              <h4 class="flash-text"><%= flash[:error] %></h4>
            </div>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <div class="push"></div>
    </div>
  </div>
  <footer>
    <div class="center">
      <p id="copyright">&copy; King Kong Survey 2015 | Gorilla Icon by: <a href="http://www.freepik.com/free-photos-vectors/design">Freepik</a></p>
    </div>
  </footer>
</body>
</html>
